body {
    background: rgb(232, 212, 134);
    background: linear-gradient(183deg, rgb(44, 44, 43) 10%, rgba(179, 147, 133, 1) 45%, rgba(23, 16, 13, 1) 100%);



}

.main {
    margin: auto;
    margin-top: 50px;
    background-image: url(pic/background.gif);
    width: 300px;
    height: 520px;
    border-radius: 30px;

}

.contant {
    display: flex;
    align-items: center;
}

.search-button {
    border-radius: 15px;
    border-color: rgb(207 179 148);
    outline: rgb(207 179 148);
    height: 30px;
    margin-top: 5px;
    background: rgb(207 179 148);
    

}

.search {
    text-align: center;
}

.weather {
    text-align: center;
    width: 50%;
    text-align: start;
    font-size: x-large;

}

.type {
    text-align: center;
}

.column {
    display: flex;
    align-items: center;
    background: rgb(232, 212, 134);
    background: linear-gradient(183deg, rgb(44, 44, 43) 10%, rgba(179, 147, 133, 1) 45%, rgba(23, 16, 13, 1) 100%);
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 30px;
    margin-top: 5px;

}


.weather-deatail>span {
    font-size: 20px;
    font-weight: bolder;




}

.weather-image {
    width: 50px;
}
.weather-deatail-value{
    margin-left: 45%;
    font-size: 15px;
    font-weight: bolder;
}