body {
    background: rgb(232, 212, 134);
    background: linear-gradient(183deg, rgb(44, 44, 43) 10%, rgba(179, 147, 133, 1) 45%, rgba(23, 16, 13, 1) 100%);
    /* height: 100%; */
    /* width: 100%; */


}

.main {
    margin: auto;
    margin-top: 50px;
    background-image: url(pic/background.gif);
    width: 300px;
    height: 520px;
    border-radius: 30px;
}
.contant{
    display: flex;
    align-items: center;
}
.search-button{
    border-radius: 15px;
    border-color: rgb(179 146 132);
    outline: none;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(179 146 132);
    
}
.search{
    text-align: center;
}