body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 40%);
    



}

.main {
    margin: auto;
    margin-top: 50px;
    background-image: url(pic/bac1.webp);
    width: 300px;
    height: 520px;
    border-radius: 30px;

}

.contant {
    display: flex;
    align-items: center;
}

.search-button {
    border-radius: 15px;
    border-color: rgb(207 179 148);
    outline: rgb(207 179 148);
    height: 30px;
    margin-top: 5px;
    background: rgb(207 179 148);
    

}

.search {
    text-align: center;
}

.weather {
    text-align: center;
    width: 50%;
    text-align: start;
    font-size: x-large;

}

.type {
    text-align: center;
}

.column {
    display: flex;
    align-items: center;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);    
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 30px;
    margin-top: 4px;

}


.weather-deatail>span {
    font-size: 20px;
    font-weight: bolder;




}

.weather-image {
    width: 50px;
}
.weather-deatail-value{
    margin-left: 45%;
    font-size: 15px;
    font-weight: bolder;
}


















.input-container {
    position: relative;
    margin: 20px auto;
    width: 200px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    padding: 20px 0px 0px 0px;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 30px;
    left: 0;
    color: #000;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -5px;
    font-size: 16px;
    color: #333;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color:#ffff00;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }

  


